

div.input-search-space{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: #77C3D5;  
    border-radius: 0.8rem;
}

i.bi-search{
    
    top: 1;
    margin-left: 1px;
    right: .2rem;
    z-index: 10;
    border: none;
    padding: 0.6rem;
}

div.input-search-space input{
    outline: none;
    font-size: 1rem;
    padding: 0.4rem;
    background-color: #77C3D5;
    border: none;
    width: 78%;
}