/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* body {
  background-color: #d9d9d9;
  font-family: 'Poppins', sans-serif;
} */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  /* position: fixed; */
  top: 0;
  z-index: 1;
}

img {
  /* Caso for preciso editar as proporções da imagem */
}

.botoes-principais ul {
  margin: 0;
  padding: 0;
}
.botoes-principais li {
  display: inline-block;
}

.botoes-principais a {
  text-decoration: none;
  color: #444452;
  font-size: 39px;
  padding: 100px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}
.botoes-principais a:hover {
  color: black;
}

.botoes-principais a:focus,
.botoes-principais a:valid {
  font-size: 50px;
  margin-top: 0;
  color: black;
}
